@import url("./default.css");
@import url("./headerfooter.css");

/* product overview */

.product_overview{
    padding: 20px;
}

.product_overview_left{
    flex: .4;
    gap: 2rem;
}

.product_overview_left img{
   width: 60%;
}

.product_overview_left_buttons{
    gap: 1rem;
}

.product_overview_left_buttons button{
    padding: 10px 20px;
    background-color: var(--secondaryRed);
    outline: none;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
}

.product_overview_left_bottom{
    flex-wrap: wrap;
    gap: 1rem;
    width: 70%;
}

.product_overview_left_bottom img{
    width: 15%;
}
.product_overview_left_bottomDiv{
    gap: .4rem;
}

.product_overview_left_bottomDiv p{
    color: var(--secondaryRed);
    white-space: nowrap;
    font-weight: bold;
}


/* code for right div */

.product_overview_right{
    flex: .6;
}

.product_overview_right_detail{
    gap: 1rem;
}

.detail h2{
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.detail p{
    font-weight: bold;
}

/* code for price */

.price .price_heading{
    font-size: 1.3rem;
    color: var(--secondaryRed);
    padding-bottom: 10px;
}
.price_container{
    gap: .5rem;
    align-items: flex-end;
    padding-bottom: 10px;
}

.price_container h2{
    line-height: 1;
    font-weight: 700;
    font-size: 2rem;
    color: var(--secondaryRed);
}

.price_container p{
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--secondaryRed);
}


.price_container h3{
    color: var(--secondaryRed);
    font-size: 1.3rem;
}

/* code for rating */

.rating p{
color: #716C6C;
font-size: 1rem;
}

.round_rating{
    padding: 5px 15px;
    background-color: #D27F7F;
    border-radius: 50px;
}

/* code for available offers */
.available h2{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--secondaryRed);
    padding-bottom: 10px;
}

.available p{
    padding-bottom: 10px;
}

.available img{
    width: 2%;
}

.available_terms {
    gap: .5rem;
}

.color{
    font-weight: bold;
    color: var(--secondaryRed);
}

/* code for address */

.address_header{
    gap: 1rem;
    padding-bottom: 20px;
}
.address_header_upper{
    gap: 2rem;
}

.address_header input {
   border: none;
   outline: none;
   background-color: transparent;
    font-size: 1.1rem;
}

input::placeholder{
    color:#D27F7F;
}

.address_header img{
    width: 18%;
}

.line{
    width: 2px;
    height: 30px;
    background-color: black;
    margin: 0 18px;
}

.pincode{
    padding-bottom: 6px;
    border-bottom: 2px solid  #D27F7F;
}

.pincode button{
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

.address_footer img{
    width: 15%;
}

.address_footer_detail{
    padding-bottom: 20px;
}

.address_footer_product p {
    white-space: nowrap;
}

.graycolor{
    color: #716C6C;
font-size: 1rem;
}

@media screen and (max-width:1000px) {
    .product_overview_left img{
        width: 80%;
     }
}

@media screen and (max-width:768px) {
    .product_overview{
        flex-direction: column;
        gap: 2rem;
    }
    .product_overview_left,
    .product_overview_right{
      flex: 1;
    }
}