@import url("./default.css");
@import url("./headerfooter.css");
@import url("./sidebar.css");

/* home img */

.home_img {
  max-height: 520px;
  overflow: hidden;
}
.home_img img {
  width: 100%;
  object-fit: contain;
}

.price_tag {
  background-color: #d9d9d9;
  width: 100%;
  text-align: center;
  box-shadow: 0px 6px 4px 0px #00000040;
}

.contentDivCrystal {
  padding: 10px 20px;
  width: 100%;
}
.main_heading {
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px 0;
}

.images_section {
  padding: 10px 0;
}

 .images_section p {
  padding: 10px 0;
}

.bold {
  font-weight: bold;
  padding-bottom: 40px !important;
}

/* code for card images */

.images_section_images {
  gap: 1rem;
  cursor: pointer;
  width: 230px;
  transition:transform .3s ease-in ;
}

.images_section_images:hover{
  transform: scale(1.04);
}

.images_section_images_div {
  height: 230px;
  width: 100%;
}

.images_section_images_div img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.images_section_inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  place-items: center;
}

@media screen and (max-width: 768px) {
  .menu_sidebar {
    top: 24px;
  }
  .sidebar {
    top: 55px;
  }
}

@media screen and (max-width: 468px) {
  .contentDivCrystal {
    flex: 1;
  }
}
