@import url("./insertProduct.css");


.table_div{
    padding: 20px 0;
}

.table{
    margin: 0 auto;
    width: 98%;
    border-collapse: collapse;
}

.table thead th{
    font-size: 1.3rem;
    padding: 10px 0;
    text-align: center;
}

.table tbody tr{
    border-bottom: 2px solid var(--secondaryRed);
    background-color: white;
    transition: .1s ease-in;
    text-align: center;
}

.table tbody tr td{
    padding: 10px;

}

.table tbody tr:nth-child(odd){
    background: #D27F7F;
}

.table tbody tr:hover{
    background-color: rgb(209, 209, 209);
}
